.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/api/src/main/java/net/runelite/api/gameval/AnimationID.java
/api/src/main/java/net/runelite/api/AnimationID.java
/api/src/main/java/net/runelite/api/clan/ClanID.java
/api/src/main/java/net/runelite/api/CollisionDataFlag.java
/api/src/main/java/net/runelite/api/annotations/Component.java
/api/src/main/java/net/runelite/api/gameval/DBTableID.java
/api/src/main/java/net/runelite/api/EnumID.java
/api/src/main/java/net/runelite/api/FontID.java
/api/src/main/java/net/runelite/api/GraphicID.java
/api/src/main/java/net/runelite/api/HintArrowType.java
/api/src/main/java/net/runelite/api/HitsplatID.java
/api/src/main/java/net/runelite/api/annotations/HitsplatType.java
/api/src/main/java/net/runelite/api/annotations/Interface.java
/api/src/main/java/net/runelite/api/gameval/InterfaceID.java
/api/src/main/java/net/runelite/api/gameval/InventoryID.java
/api/src/main/java/net/runelite/api/gameval/ItemID.java
/api/src/main/java/net/runelite/api/ItemID.java
/api/src/main/java/net/runelite/api/widgets/ItemQuantityMode.java
/api/src/main/java/net/runelite/api/KeyCode.java
/api/src/main/java/net/runelite/api/gameval/NpcID.java
/api/src/main/java/net/runelite/api/NpcID.java
/api/src/main/java/net/runelite/api/NullItemID.java
/api/src/main/java/net/runelite/api/NullNpcID.java
/api/src/main/java/net/runelite/api/NullObjectID.java
/api/src/main/java/net/runelite/api/gameval/ObjectID.java
/api/src/main/java/net/runelite/api/ObjectID.java
/api/src/main/java/net/runelite/api/gameval/ObjectID1.java
/api/src/main/java/net/runelite/api/ParamID.java
/api/src/main/java/net/runelite/api/SettingID.java
/api/src/main/java/net/runelite/api/SkullIcon.java
/api/src/main/java/net/runelite/api/SoundEffectID.java
/api/src/main/java/net/runelite/api/SoundEffectVolume.java
/api/src/main/java/net/runelite/api/gameval/SpotanimID.java
/api/src/main/java/net/runelite/api/gameval/SpriteID.java
/api/src/main/java/net/runelite/api/SpriteID.java
/api/src/main/java/net/runelite/api/StructID.java
/api/src/main/java/net/runelite/api/annotations/Varbit.java
/api/src/main/java/net/runelite/api/gameval/VarbitID.java
/api/src/main/java/net/runelite/api/Varbits.java
/api/src/main/java/net/runelite/api/annotations/VarCInt.java
/api/src/main/java/net/runelite/api/VarClientInt.java
/api/src/main/java/net/runelite/api/VarClientStr.java
/api/src/main/java/net/runelite/api/annotations/VarCStr.java
/api/src/main/java/net/runelite/api/annotations/Varp.java
/api/src/main/java/net/runelite/api/VarPlayer.java
/api/src/main/java/net/runelite/api/gameval/VarPlayerID.java
/api/src/main/java/net/runelite/api/annotations/VisibleForDevtools.java
/api/src/main/java/net/runelite/api/annotations/VisibleForExternalPlugins.java
/api/src/main/java/net/runelite/api/widgets/WidgetID.java
/api/src/main/java/net/runelite/api/widgets/WidgetModalMode.java
/api/src/main/java/net/runelite/api/widgets/WidgetModelType.java
/api/src/main/java/net/runelite/api/widgets/WidgetPositionMode.java
/api/src/main/java/net/runelite/api/widgets/WidgetSizeMode.java
/api/src/main/java/net/runelite/api/widgets/WidgetTextAlignment.java
/api/src/main/java/net/runelite/api/widgets/WidgetType.java
/claudedocs/
/.claude/
/deob/
/src/main/java/com/tonic/test/
/.idea/workspace.xml
/src/main/resources/com/tonic/api.jar
/base-api/src/main/java/net/runelite/api/
/src/main/resources/com/tonic/api.jarData
/src/main/resources/com/tonic/plugins.jarData
/plugins/src/main/java/com/tonic/plugins/mcp/
